html,
body {
  height: 100%;
}
.site-content {
  height: calc(100% - 65px);
  margin: 0;
  width: 100%;

  & main {
    height: 100%;
    margin: 0;
    max-width: none;
    width: 100%;

    & iframe {
      border: none;
      height: 100%;
      width: 100%;
    }
  }
}
