-r requirements.txt
-r test-requirements.txt

bandit
black
django-sslserver
flake8
flake8-bandit
flake8-black
flake8-bugbear
flake8-docstrings
flake8-import-order
ipython
mypy
pre-commit
pytest
pytest-cov
pytest-django
pytest-mock
pytest-rerunfailures
safety
-e git+https://github.com/jsumnerPhD/http-observatory#egg=httpobs
